# network destinations that are allowed by this cache

archive.ubuntu.com

# launchpad personal package archives
ppa.launchpad.net
private-ppa.launchpad.net

# add additional mirror domains here
linux.dropbox.com
download.virtualbox.org
dl.google.com

.unicamp.br
.ufpr.br
.usp.br

apt.llvm.org

