# Start preseed_late_default
# This script runs in the chroot /target by default
$SNIPPET('late_apt_repo_config')
$SNIPPET('post_run_deb')
$SNIPPET('pubkey_root')
$SNIPPET('download_config_files')
$SNIPPET('kickstart_done')
# End preseed_late_default
